*{
    margin: 0;
    padding: 0;
}
.icon{
    width: 36px;
    cursor: pointer;
    gap: 1005px;
}
.header-icons{
    display: flex;
    align-items: center;
}
.layout{
    display: flex;
    height: 100vh;
    background: #f1f5f9;
}
/* SIDEBAR */
.sidebar{
    width: 240px;
    display: flex;
    flex-direction: column;
    background: #1e293b;
    color: #fff;
    padding: 20px 15px;

}
.logo{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}
.sidebar .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar .navbar ul li{
    margin-bottom: 15px;
}
.sidebar .navbar ul li a{
    text-decoration: none;
    color: #e2e8f0;
    padding: 10px 12px;
    display: block;
    border-radius: 8px;
    transition: background 0.2s;
}
.sidebar .navbar ul li a:hover{
    background: #334155;
}
/* MAIN-CONTENT */
.main-content{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.main-header{
    height: 60px;
    display: flex;  
    justify-content: space-between;
    background: #fff;
    align-items: center;
    padding: 0 20px;
    border: 1px solid #e2e8f0;
}
/* CONTENT */
.content{
    padding: 20px;
}
.kpi-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 20px;
    margin-bottom: 20px;

}
.kpi-card{
    background: #ffffff;
    padding: 20px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: background 0.2s ease, box-shadow 0.2s ease;
    border-radius: 12px;
    margin-top: 20px;
}
.kpi-card:hover{
    transform: translateY(-4px);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}
.kpi-card h4{
    font-size: 16px;
    margin-bottom: 10px;
    color: #475569;
}
/* DROP-DOWN-MENU */
/* NOTIFICATION */
.notification-wrapper{
    position: relative;
}
.notification-menu{
    position: absolute;
    width: 220px;
    top: 35px;
    right: 0;
    background: #fff;
    padding: 8px 0;
    border-bottom: 1px solid #e2e8f0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.12);
    display: none;
    z-index: 10;
}
.notification-item{
    padding: 12px 15px;
    font-size: 14px;
    color: #1e293b;
    border-bottom: 1px solid #e2e8f0;
}
.notification-item:last-child{
    border-bottom: none;
}
.notification-item:hover{
    background: #f1f5f9;
}
/* USERCIRCLE */
#userCircleDropDown {
    position: absolute;
    top: 35px;
    right: 0;
    background: #fff;
    width: 130px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.12);
    padding: 8px 0;
    display: none;
    z-index: 10;
}
#userCircleDropDown p {
    padding: 10px 14px;
    font-size: 15px;
    cursor: pointer;
}
#userCircleDropDown p:hover {
    background: #f1f5f9;
}