*{
    margin: 0;
    padding: 0;
}
.icon{
    width: 36px;
    cursor: pointer;
    gap: 15px;
}
.header-icons{
    display: flex;
    align-items: center;
}
.layout{
    display: flex;
    height: 100vh;
    background: #f1f5f9;
}
/* SIDEBAR */
.sidebar{
    width: 240px;
    display: flex;
    flex-direction: column;
    background: #1e293b;
    color: #fff;
    padding: 20px 15px;

}
.logo{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}
.logo a{
    text-decoration: none;
    color: #fff;
}
.sidebar .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar .navbar ul li{
    margin-bottom: 15px;
}
.sidebar .navbar ul li a{
    text-decoration: none;
    color: #e2e8f0;
    padding: 10px 12px;
    display: block;
    border-radius: 8px;
    transition: background 0.2s;
}
.sidebar .navbar ul li a:hover{
    background: #334155;
}
/* MAIN-CONTENT */
.main-content{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.main-header{
    height: 60px;
    display: flex;  
    justify-content: space-between;
    background: #fff;
    align-items: center;
    padding: 0 20px;
    border: 1px solid #e2e8f0;
}
/* CONTENT */
.program-content{
    padding: 20px;
}
.programs-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.program-cards{
    background: #ffffff;
    padding: 20px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: background 0.2s ease, box-shadow 0.2s ease;
    border-radius: 12px;
    margin-top: 20px;
}
.program-cards h4{
    font-size: 16px;
    margin-bottom: 10px;
    color: #475569;
}
.program-cards button{
    padding: 10px 16px;
    background-color: #2563eb;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
}
.program-cards button:hover{
    background-color: #1d4ed8;
    transition: background 0.2s ease;
}