*{
    margin: 0;
    padding: 0;
    
}
body{
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #f3f3f3
}  

#loginForm{
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 320px;
    background: white;
    border-radius: 5px;
}
#loginForm h2{
    text-align: center;
    margin-bottom: 12px;
}

#loginForm label{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
}
.usernameInput, .passwordInput{
    font-size: 16px;
    margin-bottom: 16px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}
.usernameInput, .passwordInput:focus{
    outline: none;
}
.usernameInput:focus::placeholder{
    color: transparent;
}
.passwordInput:focus::placeholder{
    color: transparent;
}
.loginButton{
    border: none;
    padding: 6px;
    margin-top: 14px;   
    background-color:#3b82f6;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}
.loginButton:hover{
    background-color: #2563eb;
}